dialog h1{
    margin: 10px;
    text-transform: none;
    text-align: center;
}
.modify-button{
    background-color: #ebeb1f;
}
.modify-button:hover{
    background-color: #fdfd36;
}
.delete-button{
    background-color: #e51919;
}
.delete-button:hover{
    background-color: #ff4040;
}