.productBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, #4f5850, #316334);
    border-radius: 15px;
    width: 70%;
}

.contentContainer {
    display: flex;
    justify-content: center;
}
.productSide img {
    width: 100%;
}
.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 10px;
}
.toppingSide {
    background-color: #475249ad;
    border-radius: 20px;
    padding: 10px;
}
.toppingsContainer {
    height: 250px;
    overflow: auto;
}
.toppingContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: aliceblue;
    text-align: center;
}
