.navbar ul{
    background-color: #4f5555;
}
.navbar a{
    color: #d2dddd;
    font-size: 20px;
    padding: 7px 15px;
}
.navbar a:hover{
    color: #689856;
    font-size: 20px;
    padding: 7px 15px;
}
.navbar{
    padding: 0;
}
.containerFluid{
    padding: 0;
    margin: 0;
}

/* :root{
    --primary-color: #c1b887;
}
nav {
    height: 100vh;
    width: 200px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-color);
}
li{
    list-style: none; 
    padding: 10px 0px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 27px;
    font-weight: 800;
} */